In [1]:
### RUN THIS CELL FIRST ###
!pip install pandasql

Requirement already satisfied: pandasql in d:\anaconda\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)

In [2]:
import pandas as pd
import pandasql

from pandasql import sqldf 
sql_run = lambda q: sqldf(q, globals())

In [3]:
worldcity = pd.read_csv('worldcities.csv', sep = ';', encoding = 'latin-1')
uscity = pd.read_csv('uscities.csv', sep = ';', encoding = 'latin-1')
uscity.columns = ['city', 'state_id', 'state_name', 'county_fips', 'county_name',
       'lat', 'lng', 'population', 'density', 'source', 'military',
       'incorporated', 'timezone', 'ranking', 'zips', 'id']
pd.set_option('display.max_columns', None)

### Question 1

Temukan kota-kota dari worldcity yang memenuhi semua kondisi ini:
- populasi kota tersebut melebih populasi dari kota terbanyak penduduknya di negara Filipina. (Maksudnya: misalnya kota X adalah kota di Filipina yang paling banyak penduduknya. Kita mau daftar kota-kota yang jumlah penduduknya lebih besar dari kota X tersebut), DAN
- ada kota di Amerika Serikat (uscity) dengan nama kota yang sama dengan kota-kota pilihan

Keluarkan hanya nama kota-kota yang memenuhi 2 syarat di atas saja, tidak usah kolom-kolom lain.

In [4]:
### Jawaban Query Soal 1
query1 = """
WITH uscited as
(SELECT DISTINCT city FROM uscity WHERE city IN (SELECT city FROM worldcity
WHERE population > (SELECT MAX(population) FROM worldcity WHERE country = 'Philippines')))

SELECT DISTINCT city
FROM worldcity
WHERE population > (SELECT MAX(population) FROM worldcity WHERE country = 'Philippines')
AND city = (SELECT city FROM uscited)
"""
sql_run(query1)

    city
0  Delhi

### Question 2

Temukan kota-kota di Amerika Serikat (uscity) yang memenuhi semua kondisi berikut:
- memiliki nama 'city' yang tidak sama dengan 'state_name', dan juga
- memiliki populasi di atas rata-rata populasi kota-kota di 'county_name' Miami-Dade, dan juga
- terdiri dari dua atau lebih kata (contoh: Los Angeles, New York)

Output yang diharapkan hanya kolom 'city' saja, tidak usah kolom yang lain

Lakukan hanya 1x query saja, jangan melakukan lebih dari 1 query

In [5]:
### Jawaban Query Soal 2
query2 = """
SELECT DISTINCT city 
FROM uscity
WHERE city <> state_name 
AND population > (SELECT AVG(population) FROM uscity WHERE county_name = 'Miami-Dade')
AND city LIKE '% %'
"""
sql_run(query2)

                city
0        Los Angeles
1      San Francisco
2          San Diego
3          Las Vegas
4        San Antonio
..               ...
84        South Lyon
85      Lehigh Acres
86  East Los Angeles
87        St. George
88         Yuba City

[89 rows x 1 columns]